<h2>Edit Post</h2>

<form action="celebrities/{{celebrity_id}}" method="POST">

<label for="input-name"> Name</label>
<input type="text" id="input-name" name="name" placeholder="Celebrity Name"/>

<label for="input-occupation"> Occupation</label>
<input type="text" id="input-occupation" name="occupation" placeholder="Celebrity Occupation"/>

<label for="input-catchPhrase"> Catch Phrase</label>
<input type="text" id="input-catchPhrase" name="catchPhrase" placeholder="Celebrity Catch Phrase"/>

<button>Submit</button>

</form>