<h2>Please find below all celebrities</h2><br>
{{#each celebrities }}
<a href="/celebrities/{{_id}}">{{ name }} </a> <br><br>
<form action="celebrities/{{celebrity_id}}/delete" method="POST"></form>
{{/each}}


<br><br><br>
<a href="/celebrities/create">Add new Celebrity</a>

