<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lab Mongoose Movies</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <nav>
    <a href="/">Home</a>
    <a href="/celebrities">See celebrities</a>
    <a href="/celebrities/create">Create</a>
  </nav>
  <body>
    {{{body}}}
  </body>
</html>